/*Nav*/

nav{
    position: fixed;
    top:0;
    width: 100%;
    margin-bottom: 3rem;
    background-color: #b6d5e1;
}

ul.ulNav{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

li{
    list-style: none;
    margin-right: 15%;
}

a{
    color: #363636;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}